body{
  background-color: rgb(50, 156, 142);
}

.App {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  padding: 10px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

#link {
  font-style: italic;
  color: #000000;
}

.table {
  width: 80%;
  margin: 0 auto;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

button {
  background-color: #000000;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  margin-left: 10px;
  padding: 04px 15px;
  border: none;
  border-radius: 1px;
  margin-bottom: 10px;
  cursor: pointer;
}

